@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/51d84548-b50c-4f95-8e9e-d56c646d3ac4.gif");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

h1{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: yellow;
    margin: 0;
    padding-top: 80px;
}

.stats {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color:#fff242;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.stats:last-child{
  font-size: 15px;
  padding-top: 5px;
}


#menu{
    margin: 0;
    margin-top: 150px;

}


#menu>div{
  animation:slit-in-vertical .45s ease-out both
}

@keyframes slit-in-vertical{0%{transform:translateZ(-800px) rotateY(90deg);opacity:0}54%{transform:translateZ(-160px) rotateY(87deg);opacity:1}100%{transform:translateZ(0) rotateY(0)}}

#menu>div, #gameovermodal{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border: 1px solid rgb(0, 255, 200);
}

.modal .modal-content{
  padding: 0;
}

#gameovermodal{
  padding: 20px;
  margin-top: 20vh;
  background-color: rgba(0, 0, 0, 0.863);
}

#gameovermodal h1{
  margin: 0;
  color: #FF4294;
  padding: 0;
  margin-bottom: 20px;
}

#gameovermodal p{
  color:rgb(0, 255, 200);
  font-size: 80px;
  margin: 0;
  font-family: 'Teko', sans-serif;
  text-align: center;
}

#scoreboard{
  width: 400px;
  color: rgb(0, 255, 200);
  height: 100%;
  position: fixed;
  top: 0;
  border: 1px solid rgb(0, 255, 200);
  background-color: rgba(0, 0, 0, 0.5);
  border-right: none;
  border-top: none;
  border-bottom: none;
  right: 0;
  transition-duration: 0.8s;
}

#scoreboard.close{
  transform: translateX(300px);  
}

#scoreboard.close .row-score{
  display: none; 
}

#scoreboard.close h1{
  text-orientation: upright;
  writing-mode: vertical-rl;
  margin-top: 250px;
  padding-left: 30px;
}

#scoreboard h1{
  width: auto;
  font-size: 35px;
  margin: 0;
  padding: 0;
  padding: 10px;
  padding-top: 40px;
  color:#FF4294;
  padding-bottom: 40px;
}

#scoreboard .row-score{
  width: 100%;
  font-size: 50px;
  font-family: 'Teko', sans-serif;
  padding: 0 50px;
  margin-bottom: 20px;
}

.pseudo{
  margin: 0;
}

#scoreboard .player-score{
  float: right;
  margin: 0;
}


#menu button{
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px double #FF4294;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: black;
    font-weight: 900;
    border-radius: 10px;
    font-size: 25px;
    border-left: none;
    border-bottom: none;
    transition-duration: 0.5s;
    cursor: pointer;
}

#menu button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.linear-wipe {
    background: linear-gradient(to right, #FF4294 20%, #d919ff 35%, #3af8ff 40%, #d919ff 65%, #FF4294 80%);
    background-size: 200% auto;

    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 1.5s linear infinite;
}

@keyframes shine {
    to {
    background-position: 200% center;
    }
}

#menu input{
    border: 3px double rgb(0, 255, 200);
    color: rgb(0, 255, 200);
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: none;
    border-right: none;
    font-size: 35px;
    padding: 10px 0px;
}


::-webkit-input-placeholder, ::placeholder { /* Edge */
    color: rgb(0, 255, 200);
    text-align: center;
  }

.menu-level{
    height: 25vh;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #FF4294;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF4294;
}
::-webkit-scrollbar-thumb:active {
  background: #a800a3;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #000000;
}
::-webkit-scrollbar-track:active {
  background: #000000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
#canvas {
    display: block;
    margin: 0 auto;
    border: 3px double rgb(0, 255, 200);
    color: rgb(0, 255, 200);
    background-color: rgba(0, 0, 0, 0.5);
}

.invisible{
    display: none !important;
}

#game{
    height: 75vh;
    width: 75vh;
    margin: auto;
}
